.navbar.topbar .home-link {
  display: inline-block;
  text-decoration: none;
  .header-logo {
    height: 90px;
  }
  span {
    color: black;
    font-size: 1.5rem;
    white-space: nowrap;
    &:hover {
      color: var(--primary);
    }
  }
}
.section-heading {
  font-size: 1.25rem;
  margin-top: 0.9rem;
}
.site-footer {
  color: white;
  background: #231F20;
  min-width: 12.5rem;
  padding: 24px;
  .berkeley-logo {
    margin-top: 10px;
    max-width: 180px;
  }
  .copyright a:not([aria-disabled]) {
    text-decoration: underline;
  }
  .footer-logo {
    margin-bottom: 40px;
  }
  .menu-item {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2px 0 18px 0;
  }
  .row > div {
    min-width: 12.5rem;
    padding-top: 60px;
  }
  .social {
    padding-bottom: 50px;
    li {
      display: inline-block;
    }
    li+li {
      margin-left: 10px;
      margin-bottom: 5px;
    }
    a {
      font-size: 1.5rem;
    }
  }
  .telephone i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 20px;
  }
  a {
    color: white;
    &:hover:not([aria-disabled]) {
      color: #1BDBA6;
      text-decoration: underline;
    }
  }
  address {
    line-height: 1.56;
  }
  h3 {
    margin-bottom: 25px;
    font-weight: bold;
  }

}
.splash.container .cell {
  max-width: 14.5em;
  min-width: 14.5em;
  padding: 12px;
  vertical-align: top;
  .thumb {
    display: inline-block;
    width: 13.75rem;
    height: 13.75rem;
    margin: 2px;
    background-position: center center;
    background-size: cover;
  }
  .title {
    float: right;
    font-size: 0.938rem;
    font-weight: 700;
    margin: 0;
    padding: 0 2px;
    white-space: nowrap;
    width: 100%;
    &:hover:not([aria-disabled]) {
      text-decoration: underline;
    }
  }
}
.splash-heading {
  font-size: 1.25rem;
  line-height: 1.3;
}
.splash-text {
  line-height: 1.3;
  margin-bottom: 0;
}
a {
  color: var(--anchor);
}
a:hover {
  color: var(--primary);
}
audio, video {
  width: 100%;
}
