<div class="container-fluid bampfa-splash">
	<div class="row">
		<div class="col-sm">
			<h1 style="font-size: 2.5em" class='section-heading'>Search the UC and Jepson Herbaria</h1>
			<p class="bampfa-splash-text">
				UC and Jepson Herbaria lorem ipsum etc etc
			</p>
			
		</div>
	</div>
	
</div>
