@import 'tiles';

.bg-dark {
  background-color: gray !important;
}
.btn {
  // Adjust for custom font so text looks vertically centered
  padding-top: .45rem;
  padding-bottom: 0.301rem;
}
.btn.btn-close {
  line-height: .9rem;
}
.devise {
  &.edit-container {
    min-width: 14rem;
    padding: 0.5rem 1rem;
    .field .form-control {
      max-width: 32rem;
      min-width: 14rem;
    }
  }
  &.login-container {
    max-width: 32rem;
    min-width: 14rem;
    padding: 8px 16px 32px 16px;
    a {
      margin-bottom: 4px;
    }
  }
  &.signup-container {
    margin-left: 40px;
    margin-right: 40px;
  }
  .login-form, .signup-form {
    width: 100%;
    .field {
      padding-bottom: 1rem;
      .field_with_errors {
        display: inline;
        input {
          border-color: var(--danger);
          border-width: 2px;
          outline-color: var(--danger) !important;
          padding-right: calc(1.5em + .75rem) !important;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right calc(.375em + .1875rem) center;
          background-size: calc(.75em + .375rem) calc(.75em + .375rem);
        }
      }
      label {
        margin-bottom: 0.125rem;
      }
    }
  }
}
.document .pdf-viewer {
  height: 800px;
  padding: 3px;
  width: 100%;
}
.h1, h1 {
  font-size: 2rem;
}
.minor-heading {
  font-weight: bold;
}
.navbar.topbar {
  *:focus {
    box-shadow: none !important;
    outline-color: white !important;
    outline-offset: -2px;
  }
  .navbar-brand{
    width: 565px;
    &:focus {
      outline-offset: -6px;
    }
    img {
      width: 600px;
    }
  }
  .navbar-nav {
    flex-wrap: wrap;
    .nav-link {
      background-color: #757575;
      border-radius: 4px;
      color: white;
      margin: 2px 3px;
      padding: 0.5rem;
      &:hover, &:focus {
        background-color: #707070;
        color: white;
      }
    }
  }
  .navbar-toggler {
    margin: 0.25rem;
  }
}
.panel-heading {
  padding-right: 1px;
}
.panel-title {
  font-family: MontserratLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  padding-right: 12px;
}
.search-history .filter-name {
  font-family: RobotoBold, Helvetica, Arial, sans-serif;
}
.section-heading {
  font-family: MontserratBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.site-footer {
  background: transparent;
  color: #757575;
  margin: auto;
  padding: 100px 1rem 40px;
  p {
    line-height: 1.5;
  }
  ul li:not(.social) {
    max-width: 12em;
    padding: 4px 20px 16px;
  }
  ul li a {
    color: #757575;
    font-size: 1.2rem;
  }
  .blacklight-logo {
    width: 7.25em;
  }
  .footer-logo {
    object-fit: cover;
    width: 150px;
  }
  .social {
    padding: 0px 20px;
  }
}
.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}
.thumbclass {
  max-height: 200px;
  max-width: 200px;
}
.warc {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
.warc-container {
  display:flex;
  width: 100%;
  height: 50em;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
}

article .document-title {
  overflow: inherit;
}
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
h3.index_title > a {
  font-family: MontserratMedium, Helvetica, Arial, sans-serif;
}
h4.facets-heading {
  font-size: 0.875rem;
}

@font-face {
  font-family: MontserratBlack;
  src: url(Montserrat/Montserrat-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: MontserratLight;
  src: url(Montserrat/Montserrat-Light.ttf);
}

@media (min-width: 576px) {
  .navbar.topbar .navbar-brand img {
    width: 650px;
  }
  .site-footer {
    padding: 100px 10% 40px !important;
  }
}
@media print {
  a[href]:after {
    content: none;
  }
  .site-footer {
    display: none;
  }
}
