@import 'tiles';

.actions {
  margin-bottom: 30px;
}
.bg-dark {
  background-color: gray !important;
}
.blacklight-pdf_ss {
  width: 100%;
}
$global-alert-color: rgb(89, 184, 227);
.global-alert {
  border: 1px solid $global-alert-color;
  margin: 10px 0;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.h1, h1 {
  font-size: 2rem;
}
.login-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}
.login-form {
  width: 100%;
  margin-bottom: 30px;
}
.minor-heading {
  font-weight: bold;
}
.navbar.topbar {
  min-width: 600px;
  *:focus {
    box-shadow: none !important;
    outline-color: white !important;
    outline-offset: -2px;
  }
  .navbar-brand:focus {
    outline-offset: -6px;
  }
  .navbar-brand img {
    width: 600px;
  }
  .navbar-nav {
    flex-wrap: wrap;
    .nav-link {
      background-color: #757575;
      border-radius: 4px;
      color: white;
      margin: 2px 3px;
      padding: 0.5rem;
      &:hover, &:focus {
        background-color: #707070;
        color: white;
      }
    }
  }
  .navbar-toggler {
    margin: 0.25rem;
  }
}
.panel-heading {
  padding-right: 1px;
}
.panel-title {
  font-family: MontserratLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  padding-right: 12px;
}
.section-heading {
  font-family: MontserratBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.signup-container {
  margin-left: 40px;
  margin-right: 40px;
}
.signup-form {
  width: 100%;
  margin-bottom: 30px;
}
.site-footer {
  background: transparent;
  color: #757575;
  margin: auto;
  padding: 100px 10% 40px;
  p {
    line-height: 1.5;
  }
  ul li:not(.social) {
    max-width: 12em;
    padding: 4px 20px 16px;
  }
  ul li a {
    color: #757575;
    font-size: 1.2rem;
  }
  .blacklight-logo {
    width: 7.25em;
  }
  .footer-logo {
    object-fit: cover;
    width: 150px;
  }
  .social {
    padding: 0px 20px;
  }
}
.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}
.thumbclass {
  max-height: 200px;
  max-width: 200px;
}
.warc {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
.warc-container {
  display:flex;
  width: 100%;
  height: 50em;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
}

article .document-title {
  overflow: inherit;
}
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
h3.index_title > a {
  font-family: MontserratMedium, Helvetica, Arial, sans-serif;
}
h4.facets-heading {
  font-size: 0.875rem;
}

@font-face {
  font-family: MontserratBlack;
  src: url(Montserrat/Montserrat-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: MontserratMedium;
  src: url(Montserrat/Montserrat-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: MontserratLight;
  src: url(Montserrat/Montserrat-Light.ttf);
  font-weight: normal;
}

@media print {
  a[href]:after {
    content: none;
  }
  .site-footer {
    display: none;
  }
}
