/* _variables.scss */
$primary: #0068AF;
$secondary: #6c757d;
$tertiary: #c8c8c8;
$success: #b8c924;
$info: #7854e4;
$warning: #fab946;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$gray-900: #151519;

$facet-active-border: $warning !default;
$facet-active-bg: $warning !default;
$facet-active-item-color: $warning !default;
