<div class="card show-tools mb-4 mb-md-0">
  <div class="card-header">
    <h2 class="mb-0 h6"><%= t('blacklight.tools.title') %></h2>
  </div>
  <%= render Blacklight::Document::ActionsComponent.new(
      document: document,
      tag: 'div',
      classes: 'px-4 py-2',
      actions: actions,
      url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h)
  ) %>
</div>
