<div class="col-12 show-preview-heading">
	<hr>
	<span id="show-preview-title">Selection of nearby plants in garden bed: <%= garden_location %></span>
</div>
<div class="col-md-12 show-preview">
		<%= generate_garden_bed_preview(garden_location) %>
</div>
